body {
  font-family: Arial, sans-serif;
}

#quiz {
  width: 500px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  margin-top: 100px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
}

.options {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eaeaea;
  color: #333;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: #fff;
}
